p1 {
    color: red;
    font-weight: bold;
    font-size: 30px;
}
p2 {
    color: red;
    font-weight: bold;
    font-size: 30px;
}
p3 {
    color: red;
    font-weight: bold;
    font-size: 30px;
}
p4 {
    color: red;
    font-weight: bold;
    font-size: 30px;
}
p5 {
    color: red;
    font-weight: bold;
    font-size: 30px;
}
h1 {
    color: blue;
    text-decoration: underline;
    font-size: 40px; 
}
h2 {
    color: blue;
    text-decoration: underline;
    font-size: 40px; 
}
h3 {
    color: blue;
    text-decoration: underline;
    font-size: 40px; 
}
h4 {
    color: blue;
    text-decoration: underline;
    font-size: 40px; 
}
h5 {
    color: blue;
    text-decoration: underline;
    font-size: 40px; 
}